// MENU
@keyframes comeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// COEUR

// VALID
@keyframes valid-in {
  from {
    transform: translateX(150%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes valid-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }
}
