// MENU
@keyframes comeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// COEUR
.heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

svg:hover {
  path {
    animation: heart-fill 1.5s linear;
    animation-fill-mode: forwards;
  }
}
svg:not(:hover) {
  path {
    // fill: url(#linear-hover);
    animation: heart-empty 1.5s linear;
    animation-fill-mode: backwards;
    // animation-play-state: paused;
  }
}

//   path:not(:hover) {
//     // fill: url(#linear-hover);
//     animation: heart-empty 1.5s linear;
//     animation-fill-mode: backwards;
//     // animation-play-state: paused;
//   }
// }

@keyframes heart-fill {
  0% {
    opacity: 0;
    stroke: none;
    fill: url(#linear-hover);
  }
  100% {
    opacity: 1;
    fill: url(#linear-hover);
    stroke: none;
  }
}

@keyframes heart-empty {
  0% {
    opacity: 1;
    fill: url(#linear-hover);
    stroke: none;
  }
  100% {
    opacity: 0;
    stroke: none;
    fill: url(#linear-hover);
  }
}

// VALID
@keyframes valid-in {
  from {
    transform: translateX(150%);
    display: none;
  }
  to {
    transform: translateX(0%);
    display: flex;
  }
}

@keyframes valid-out {
  from {
    transform: translateX(0%);
    display: flex;
  }
  to {
    transform: translateX(150%);
    display: none;
  }
}
