// MENU
@keyframes comeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// COEUR

// VALID
@keyframes valid {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
