@import '_variables';

footer {
  background-color: $footer-background;
  color: white;
  margin-bottom: 0%;
  menu {
    margin-bottom: 0%;
  }
  h4 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5%;
    padding-left: 2.5rem;
  }
  ul {
    list-style: none;
    padding-bottom: 5%;
    padding-left: 0;
    line-height: 1.5;
    margin-bottom: 0%;
    li {
      font-family: $text-font;
    }

    .fa-handshake {
      transform: rotate(-35deg);
      padding-right: 1px;
    }
    i {
      padding-right: 7px;
    }
    a {
      color: white;
    }
  }
}
