@import '_variables';

footer {
  background-color: $footer-background;
  color: white;
  padding-left: 5%;
  h4 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5%;
    padding-left: 2.5rem;
  }
  li {
    list-style: none;
    padding-bottom: 5%;

    .fa-handshake {
      transform: rotate(-35deg);
      padding-right: 1px;
    }
    i {
      padding-right: 7px;
    }
    a {
      color: white;
    }
  }
}
