@import '_variables';

body {
  font: 3rem;
  margin: 0%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
}

h1 {
  font: 30px $title-font;
}

h2 {
  font-size: 24px;
  font-family: $text-font;
}

p {
  font-family: $text-font;
  font-weight: 300;
}

h3 {
  font-family: $text-font;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  font-family: $text-font;
}
