@import '_variables';
@import '_mixins';

.introduction {
  background-color: $background-light;
  text-align: center;
  h2 {
    padding-top: 5px;
  }
  p {
    font-size: 18px;
  }
}

.explorer {
  @include buttons;
  margin: 0 auto;
}
