@import '_variables';

@mixin buttons {
  border-radius: 25px;
  padding: 15px;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  width: 15em;
  color: white;
  cursor: pointer;
  border: none;
}

@mixin small_card {
  border-radius: 20px;
  border: 15px solid $background-light;
  background-color: $background-light;
}
