@import '_variables';

.page_restaurant_header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;

  .retour {
    position: absolute;
    left: 15px;
  }
}

.page_restaurant_top {
  padding: 0%;
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.page_restaurant_menu {
  background-color: $background-light;
  border-radius: 50px;
  position: relative;
  top: -40px;
  width: 95%;
  z-index: 1;
}

h4 {
  font-family: $title_font;
  font-size: 28px;
  font-weight: 400;
  i {
    padding-left: 30%;
  }
}
