@import '_variables';
@import '_mixins';

.page_restaurant_menu {
  background-color: $background-light;
  border-radius: 50px;
  position: relative;
  top: -40px;
  z-index: 1;
}

.restaurant_name {
  font-family: $title_font;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 10%;
  i {
    justify-content: flex-end;
  }
}

.menu_type_title {
  font-family: $text-font;
  font-weight: 300;
  width: 100%;
}
.underline {
  padding-bottom: 5px;
  border-bottom: 3px solid $tertiary-color;
}

.menu_carte {
  @include carte_menu;
  .menu_carte_content {
    overflow: hidden;
    text-overflow: ellipsis;
    .menu_carte_content_title {
      font-size: 18px;
      font-weight: 400;
      font-family: $text-font;
    }

    //  position: relative;
    //  bottom: 2.5rem;
    line-height: 0px;
    align-content: center;
  }

  .prix {
    justify-self: end;
    align-self: flex-end;
    font-weight: 700;
    font-size: 15px;
  }
}
