@import '_variables';
@import '_mixins';

@media screen and (min-width: 1400px) {
  //   TOP
  .introduction {
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 40px;
    }
  }
  // TUTO
  .fonction {
    margin-left: 16%;
  }
  .tuto_part {
    .tuto__steps {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3%;
      .tuto__steps_card {
        width: 400px;
        padding: 0%;
      }
      .number {
        top: 5px;
      }
    }
  }

  // RESTO
}
