@import '_variables';
@import '_mixins';

.menu_carte:hover {
  .valid {
    opacity: 1;
    display: flex;
    animation: valid-in 0.3s forwards;
    // &carte { just between}
  }
}

.menu_carte {
  .valid {
    animation: valid-out 0.3s forwards;
    opacity: 0;
    transition: opacity 250ms;
  }
}

.valid {
  background-color: $tertiary-color;
  border-radius: 0 15px 15px 0;
  height: 4.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0;
  padding-left: 0;

  .valid_icon {
    color: $tertiary-color;
    transform: scaleX(-1);
    transform: rotate(40deg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
