@import '_variables';
@import '_mixins';
@import '_animations';

// Animations
.menu_carte_entrees {
  animation: comeIn 0.5s cubic-bezier(1, 0.03, 0.83, 0.67);
}

.menu_carte_plats {
  animation: comeIn 1s cubic-bezier(1, 0.03, 0.83, 0.67);
}

.menu_carte_desserts {
  animation: comeIn 1.5s cubic-bezier(1, 0.03, 0.83, 0.67);
}

// Titres types menus
.menu_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .menu_type_title {
    font-family: $text-font;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
  }
  .underline {
    padding-bottom: 5px;
    border-bottom: 3px solid $tertiary-color;
  }
}

// Elements cartes
.menu_carte {
  position: relative;
  cursor: pointer;

  @include carte_menu;
  .menu_carte_content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 3%;
    width: 100%;
    .prix {
      display: flex;
      align-self: flex-end;
      font-weight: 700;
      font-size: 15px;
      padding-right: 5%;
    }
    .menu_carte_content_desc {
      @include hidden;
      display: flex;
      justify-items: flex-start;
      flex-direction: column;
    }
    .menu_carte_content_title {
      margin: 0;
      // Font
      font-size: 18px;
      font-weight: 500;
      font-family: $text-font;
      // Hide
      @include hidden;
    }
    p {
      margin-bottom: 0;
      // Hide
      @include hidden;
    }
  }
}

// Button commande
.commander_part {
  .commander {
    @include buttons;
  }
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
