@import '_variables';
@import '_mixins';

.tuto__steps {
  p {
    @include small_card;
  }
  .Number {
    background-color: $main-color;
    border-radius: 30px;
    border: 15px solid $main-color;
    color: #eaeaea;
  }
}
