@import '_variables';
@import '_mixins';

.tuto__steps {
  display: flex;
  flex-direction: column;
  width: 100%;

  .fa-solid {
    color: #7e7e7e;
    padding-left: 5%;
    padding-right: 5%;
  }
  .fa-store {
    color: $main-color;
  }
  ul {
    @include small_card;
    position: relative;
  }
  .Number {
    text-align: center;
    background-color: $main-color;
    border-radius: 50%;

    color: #eaeaea;
    height: 25px;
    width: 25px;
    font-size: larger;
    position: absolute;
    left: -25px;
    top: 10px;
  }
}
