@use '_responsive';

@import '_variables';
@import '_mixins';

.tuto {
  background-color: white;
  align-items: flex-start;
}
.tuto_part {
  align-self: center;
  width: 100%;
  padding: 0;
  .tuto__steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    .fa-solid {
      color: #7e7e7e;
      padding-left: 5%;
      padding-right: 5%;
    }
    .fa-store {
      color: $main-color;
    }
    .tuto__steps_card {
      @include small_card;
      height: 72px;
      position: relative;
    }
    .number {
      text-align: center;
      justify-content: center;
      background-color: $main-color;
      border-radius: 50%;
      color: #eaeaea;
      height: 25px;
      width: 25px;
      font-size: larger;
      position: absolute;
      left: -15px;
      top: 15px;
    }

    p {
      font-size: larger;
      font-weight: 500;
      font-family: $text-font;
      position: relative;
      top: 5px;
      left: 15px;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}
