$title-font: 'Shrikhand', serif;
$text-font: 'Roboto', sans-serif;

$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-dark: #eaeaea;
$background-light: #f6f6f6;
$nouveau-text: #008766;
$footer-background: #353535;
