body {
  font: 3rem;
  margin: 0%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
}

h1 {
  font: 30px "Shrikhand", serif;
}

h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header__location {
  background-color: #eaeaea;
  width: 100%;
  padding: 25px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .header__location p {
  display: flex;
  justify-content: center;
  gap: 17px;
  font-size: 16px;
}

.Introduction {
  background-color: #f6f6f6;
}
.Introduction h2 {
  padding-top: 5px;
}
.Introduction p {
  font-size: 18px;
}

button {
  border-radius: 25px;
  padding: 15px;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  width: 15em;
  color: white;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

.tuto__steps {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tuto__steps .fa-solid {
  color: #7e7e7e;
  padding-left: 5%;
  padding-right: 5%;
}
.tuto__steps .fa-store {
  color: #9356dc;
}
.tuto__steps ul {
  border-radius: 20px;
  border: 15px solid #f6f6f6;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 45px;
  position: relative;
}
.tuto__steps .Number {
  text-align: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: #eaeaea;
  height: 25px;
  width: 25px;
  font-size: larger;
  position: absolute;
  left: -25px;
  top: 10px;
}
.tuto__steps p {
  font-size: larger;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 5px;
  right: 15px;
}

main {
  padding: 17px;
  background-color: #f6f6f6;
}

.restaurants__card {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 18px;
}
.restaurants__card .card_content {
  position: relative;
}
.restaurants__card .card_content img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
.restaurants__card .card_content .card__text {
  padding-left: 13px;
  line-height: 5px;
  width: 80%;
}
.restaurants__card .card_content .fa-heart {
  position: absolute;
  right: 25px;
  bottom: 10px;
  font-size: 1.5rem;
}
.restaurants__card .card_content .nouveau {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.4rem;
  position: absolute;
  right: 15px;
  bottom: 13rem;
  border-radius: 2px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 5%;
}
footer h4 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5%;
  padding-left: 2.5rem;
}
footer li {
  list-style: none;
  padding-bottom: 5%;
}
footer li .fa-handshake {
  transform: rotate(-35deg);
  padding-right: 1px;
}
footer li i {
  padding-right: 7px;
}

.page_restaurant_header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
}
.page_restaurant_header .retour {
  position: absolute;
  left: 15px;
}

.page_restaurant_top {
  padding: 0%;
}
.page_restaurant_top img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.page_restaurant_menu h4 {
  font-family: "Shrikhand", serif;
}

/*# sourceMappingURL=styles.css.map */
